/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

h2,
h3,
p {
  margin: 0px;
  line-height: 1.4em;
}

h1 {
  font-size: 40px;
  color: #563189;
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.caret {
  margin-left: 10px;
  width: 8px;
  z-index: 20;
}

.modal-header {
  font-size: 18px;
}

.modal-body {
  font-weight: 400;
  font-size: 14px;
}

.modal-button-text {
  font-weight: 600;
  font-size: 13px;
}

.container-wrapper {
  width: 1200px;
  height: 795px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
  overflow: hidden;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* display: flex; */
}

.header {
  width: 100%;
  position: fixed;
  background: white;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  z-index: 10;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  height: 30px;
  color: white;
}

.header-button {
  position: absolute;
  right: 20px;
  top: 72px;
  width: 184px;
  background: #169ab4;
}

.header-button:hover {
  box-shadow: 0px 4px 10px #31cadb;
}

.footer {
  position: fixed;
  z-index: 1000;
  width: 100%;
  bottom: 0;
}

.footer img {
  position: absolute;
  bottom: 0;
}

.modals {
  display: flex;
  flex-direction: column;
  z-index: 3;
  height: auto;
  padding: 30px;

  overflow-y: scroll;
  /* margin-top: 550px; */
  margin-top: 700px;
  margin-bottom: 300px;
}

.model-wrapper {
  height: 300px;
  /* border: 1px solid red; */
  display: flex;
  align-items: flex-end;
}

.modals-section {
  width: 600px;
  padding: 22px;
  margin: 0 50px;
  /* margin: 100px 0px 0px 50px; */
  border-radius: 10px;
  background: white;
  opacity: 0.8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modals-section:hover {
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

.modals-button-section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modals-button-section {
  width: 185px;
  height: 32px;
  margin: 6px;
  border-radius: 25px;
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.modals-button-section .button-label {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.button-caption {
  width: 325px;
  line-height: 1.1em;
}

.modals-button-section .modal-button-text {
  z-index: 10;
}

.modals-button-section .caret {
  margin-left: 10px;
  width: 8px;
  z-index: 20;
}

.modals-button-section .caret img {
  width: 100%;
}

.modals-button-purple {
  background: linear-gradient(#8f5fbe, #563189);
}
.modals-button-purple:hover {
  box-shadow: 0px 4px 10px #8f5fbe;
}

.modals-button-teal {
  background: linear-gradient(#31cadb, #169ab4);
}
.modals-button-teal:hover {
  box-shadow: 0px 4px 10px #31cadb;
}

.modals-button-magenta {
  background: linear-gradient(#eb36c0, #d3198c);
}
.modals-button-magenta:hover {
  box-shadow: 0px 4px 10px #eb36c0;
}

#modals-button-nav {
  background: #169ab4;
}
#modals-button-nav:hover {
  box-shadow: 0px 4px 10px #169ab4;
}

.button-effect {
  position: absolute;
  width: 200px;
  height: 0px;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.button-effect1 {
  background: #eb36c0;
}

#button-effect2 {
  background: #31cadb;
}

#button-effect3 {
  background: #8f5fbe;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* CONTENT MIDDLE */

.content {
  width: 100%;
  height: 100%;
  /* padding-bottom: 150px; */
  overflow-y: scroll;
}

.scroll-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#headline {
  position: fixed;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headline-main {
  font-size: 40px;
}

#headline-second {
  font-size: 30px;
}

#nav-img {
  position: absolute;
  width: 570px;
  height: auto;
  left: 230px;
  top: 68px;
}
