/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
}

.hidden {
  visibility: hidden;
}

h2 {
  margin: 0px;
}

h1 {
  font-size: 40px;
  color: #563189;
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.bold {
  font-weight: 600;
}

.modal-header {
  font-size: 18px;
}

.modal-body {
  font-weight: 600;
  font-size: 14px;
}

.modal-button-text {
  font-weight: 400;
  font-size: 13px;
}

.main {
  overflow: hidden;
  box-sizing: border-box;
}

.bg {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  width: 100%;
  position: fixed;
  background: white;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  z-index: 10;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer img {
  position: absolute;
  bottom: 0;
}

.modals {
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.modals-section {
  width: 300px;
  padding: 25px;
  border-radius: 10px;
  background: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}

.modals-section:hover {
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

.modals-button-section-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modals-button-section {
  width: 165px;
  height: 45px;
  padding: 10px;
  border-radius: 25px;
  color: white;
  overflow: hidden;
  position: relative;
}

.modals-button-section .button-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modals-button-section .modal-button-text {
  z-index: 20;
}

.modals-button-section .caret {
  margin-left: 10px;
  width: 8px;
  z-index: 20;
}

.modals-button-section .caret img {
  width: 100%;
}

#modals-button-section1 {
  background: linear-gradient(#EB36C0, #D3198C);
}
#modals-button-section1:hover {
  box-shadow: 0px 4px 10px #EB36C0;
}

#modals-button-section2 {
  background: linear-gradient(#31CADB, #169AB4);
}
#modals-button-section2:hover {
  box-shadow: 0px 4px 10px #31CADB;
}

#modals-button-section3 {
  background: linear-gradient(#8F5FBE, #563189);
}
#modals-button-section3:hover {
  box-shadow: 0px 4px 10px #8F5FBE;
}

.button-effect {
  position: absolute;
  width: 200px;
  height: 0px;
  left: 0px;
  top: 0px;
  z-index: 0;
}

#button-effect1 {
  background: #EB36C0;
}

#button-effect2 {
  background: #31CADB;
}

#button-effect3 {
  background: #8F5FBE;
}

/* CONTENT MIDDLE */

.content {
  display: flex;
  align-items: center;
  margin: 80px 0;
}

.content-text {
  width: 500px;
  margin-left: 5%;
  margin-top: 18%;
  position: relative;
}

.branch {
  z-index: 0;
  position: absolute;
  width: 1105px;
  top: -300px;
  transform: rotate(-1deg);
  left: -130px;
}

.branch img {
  width: 100%;
}

.branch-el {
  width: 100%;
  position: absolute;
  top: 0;
}

#branch-apple {
  z-index: 100;
  width: 150px;
  top: 553px;
  left: 920px;
}

#branch-bud1{
  z-index:98;
} 

#branch-apple img:hover {
  transition: all 1s ease-out;
  transform: scale(1.05, 1.05) translate(0,3px);
  transformorigin: 100% 100%;
}

.branch-bud img,
#branch-apple img {
  transition: all 1s ease-out;
}

.branch-bud img:hover {
  transition: all 1s ease-out;
  transform: scale(1.01, 1.01) translate(-5px,0px);
  transformorigin: 100% 100%;
}

.animate-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
